version: '3.8'

volumes:
  postgres_data:
  static_volume:

services:
  db:
    image: postgres:12.4
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env
  web:
    image: vadim3x4/yamdb_final:latest
    restart: always
    expose:
      - 8000
    depends_on:
      - db
    env_file:
      - ./.env
    volumes:
      - static_volume:/code/staticfiles
  nginx:
    image: nginx:1.19.6
    ports:
      - 80:80
    depends_on:
      - web
    volumes:
      - static_volume:/code/staticfiles
      - ./nginx:/etc/nginx/conf.d
